This project is a Next.js app that allows you to calculate how much do you spend on subscriptions every month.
It's an overview of your yearly expenses, to see where your money goes. 

Technically, it follows these rules:

- Next.js 14 App Router + src folder
- Daisy UI for the UI
- Tailwind CSS for any other styling not covered by Daisy UI
- Drizzle ORM for the database (PostgreSQL)
- NextAuth for the authentication (using Auth.js and Next Auth v5 beta).
- To get the current session server-side we use the auth() function from '@/lib/auth'.
- Users are logged in via oauth. For now we only allow Github.
- Schemas live under src/models/schema.ts
- Use server actions over API routes/calls. Remember to add the "use server" directive at the top of the file 
containing the server actions, and to verify the user is logged in.
- Use React Server Components where possible.
- Use Client Components if hooks or user interactions are needed. Remember to add the "use client" directive at 
the top of the file.

The app features the following:

- A sleek, minimalistic, responsive modern design. Default theme is dark.
- A calendar view of your expenses for the current month or year (can be changed)
- A form to add/edit/delete services (expenses)
- A dashboard that lists your services (expenses), shows the calendar view(s), and charts in the future
